.home {
  height: 90vh;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.overview,
.image {
  width: 50%;
}

.title {
  font-size: 50px;
}

.overview {
  padding: 20px;
  padding-left: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.overview div > button {
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  background: linear-gradient(145deg, #d4dee1, #fbffff);
  box-shadow: 5px 5px 10px #aeb7b9, -5px -5px 10px #ffffff;
}

.overview div button > a {
  text-decoration: none;
  color: #46656b;
  text-transform: uppercase;
  background: transparent;
  font-weight: bolder;
}

.details {
  margin-top: 20px;
}

.overview-img {
  width: 500px;
  height: 500px;
}

.image {
  display: flex;
  align-items: center;
}

.other-infos {
  width: 100%;
  padding-bottom: 20px;
  position: absolute;
  top: calc(100% - 80px);
}

.know-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.know-more > div {
  width: 250px;
  border-radius: 5px;
  text-align: center;
  padding: 40px 10px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 26px 26px 51px #dedede, -26px -26px 51px #ffffff;
}

.use-cases {
  margin-top: 100px;
  text-align: center;
}

.use-cases > h3 {
  margin: 50px 0;
  font-size: 30px;
}

.use-case > div,
.use-case {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.use-case {
  flex-wrap: wrap;
}

.use-case > div {
  height: 60px;
  color: #fff;
}

.use-case div > img {
  width: 30px;
  height: 30px;
}

.information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
}

.detail {
  width: 490px;
  text-align: start;
}

.detail > p {
  margin: 10px 0;
}

@media (max-width: 1150px) {
  .overview {
    padding-left: 20px;
  }
  .overview-img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .overview,
  .image {
    width: 100%;
  }

  .overview {
    height: auto;
    padding: 20px;
  }
  .overview-img {
    width: 100%;
    height: 100%;
  }
  .home {
    height: auto;
    padding-bottom: 100px;
  }

  .detail {
    width: 340px;
  }
}
